In [15]:
from scipy import stats
import pandas as pd
from sklearn.metrics import r2_score
from math import sqrt
from scipy.stats import t, sem
from numpy import mean

In [8]:
h = [1.5, 4.5, 7.5 ]
livre = [221, 120, 74 ]

df_data = pd.DataFrame({"heure": h, "livre": livre})
df_data.head()

   heure  livre
0    1.5    221
1    4.5    120
2    7.5     74

In [9]:
df_data.corr()

          heure     livre
heure  1.000000 -0.977455
livre -0.977455  1.000000

In [10]:
stats.ttest_ind(df_data["heure"], df_data["livre"])

Ttest_indResult(statistic=-3.0802705254103246, pvalue=0.03692187863460112)

In [13]:
r2_score(df_data["heure"], df_data["livre"])

-3662.4861111111113

In [18]:

def independent_ttest(data1, data2, alpha):
	mean1, mean2 = mean(data1), mean(data2)
	# standard errors
	se1, se2 = sem(data1), sem(data2)
	# standard error on the difference between the samples
	sed = sqrt(se1**2.0 + se2**2.0)
	# calculate the t statistic
	t_stat = (mean1 - mean2) / sed
	# degrees of freedom
	df = len(data1) + len(data2) - 2
	# calculate the critical value
	cv = t.ppf(1.0 - alpha, df)
	# calculate the p-value
	p = (1.0 - t.cdf(abs(t_stat), df)) * 2.0
	# return everything
	return t_stat, df, cv, p

alpha = 0.5
t_stat, df, cv, p = independent_ttest(df_data["heure"], df_data["livre"], alpha)

if abs(t_stat) <= cv:
	print('Accept null hypothesis that the means are equal.')
else:
	print('Reject the null hypothesis that the means are equal.')
# interpret via p-value
# if p > alpha:
# 	print('Accept null hypothesis that the means are equal.')
# else:
# 	print('Reject the null hypothesis that the means are equal.')

Reject the null hypothesis that the means are equal.
Reject the null hypothesis that the means are equal.